<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section id="show-table">
      <table >
        <thead class="show-head">
          <tr>
            <th class="show-name">Name</th>
            <th class="show-created">Created On</th>
            <th class="show-deadline">Deadline</th>
            <th class="show-status">Status</th>
            <br/>
            <th class="add-to-dos">Add To Do's</th>
          </tr>
        </thead>
        <tbody class="show-body">
          <tr>
            <td class="show-name-body"><%= goal.name%></td>
            <td class="show-created-body"><%= goal.created %></td>
            <td class="show-deadline-body"><%= goal.deadline %></td>
            <td class="show-status-body"><%= goal.status %></td>
            <td class="show-todo-body"><a href="/goals/<%= goal._id %>/todos/new"> <button class="todo-button">New To Do</button> </a></td>
          </tr>
        </tbody>
      </table>
      <% if (todos.length) { %>
      <table>
        <thead class="todo-head">
          <tr>
            <th class="todo-label">Your To Do's</th>
            <th class="todo-when-label">When</th>
            <th class="todo-status-label">Status</th>
          </tr>
        </thead>
        <tbody class="todo-body">
          <% todos.forEach(function(t) { %>
          <tr>
            <td class="todo-todo"><%= t.todo %></td>
            <td class="todo-when"><%= t.when %></td>
            <td class="todo-when"><%= t.status %></td>
            <td class="todo-delete"><form method="POST" action="/goals/<%= goal._id %>/todos/<%= t._id %>?_method=DELETE" class="delete-todo">
              <button type="submit" class="todo-delete-button">Delete Item</button></form></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h5>No To Do Items</h5>
      <% } %>
    
      <form action="/goals/<%= goal._id %>/journals" method="POST" class="journals-form">
        <h2 class="h2-journal">Journal Entry</h2>
        <label>
          <P>Keep Track of your Progress:</P>
          <textarea name="progress" cols="30" rows="5" required></textarea>
        </label>
        <label> Date: <input type="date" name="when" class="journal-date"> </label>
        <button type="submit" class="add-journal-button">Add Journal Entry</button>
      </form>
      <% if (goal.progress.length) { %>
      <table>
        <thead>
          <tr>
            <th>Progress</th>
            <th>When</th>
          </tr>
        </thead>
        <tbody>
          <% goal.progress.forEach(function(j) { %>
          <tr>
            <td><%= j.progress %></td>
            <td><%= j.when %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h5>No Journal Entries Yet</h5>
      <% } %>
    </section>
    <%- include('../partials/footer') %>
</html>
