<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="newTodoBody">
    <%- include('../partials/header') %>
    <form action="/goals/<%=goal._id %>/todos" method="POST" class="todos-form">
        <h1>Add Your To Do</h1>
      <label>
        To Do:
        <input type="text" name="todo"> 
      </label>
      <label>
        When:
        <input type="date" name="when"> </label
      >
      <label>
        Status:
        <select name="status">
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Done">Done</option>
        </select>
      </label>
      <button type="submit" action="/goals/<%=goal._id%>" class="add-item-button">Add Item</button>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>
