<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <form action="/goals/<%=goal._id %>/todos" method="POST">
      <label>
        To Do:
        <input name="todo"> 
      </label> <br/>
      <label>
        When:
        <input type="date" name="when"> </label
      ><br/>
      <label>
        Status:
        <select name="status">
          <option value="In Progress">In Progress</option>
          <option value="Pending">Pending</option>
          <option value="Done">Done</option>
        </select>
      </label>
      <button type="submit" action="/goals/<%=goal._id%>">Add Item</button>
    </form>
    <%- include('../partials/footer') %>
  </body>
</html>
